@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

body {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1, p {
	color: #FFFFFF;
	font-family: 'Oxanium', cursive;
}

h1 {
	font-size: 66px;
}

p{

}
 li {
 	font-style:  italic;
 }

#slogan {
	font-size: 35px;
	font-style: italic;
    padding-top: 2%;
}
header {
	background-color: #FFED74;
}
nav {
	background-color: #e8C66A;
}
aside {
	background-color: #FFC675;
}
article{
	background-color: #E89C6C;
}
footer{
	background-color: #FF957E;
}

#hero {
    border: 1px black solid;
    height: 100%;
}

#hero_title {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#hero_byline {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    width: 20%;
    float: right;
    margin-top: 319px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.Slogan{

}
.Chunga{
	width: 100px;
}
a {
    text-decoration: none;
    padding: 10px;
    width: 200px;
}
a:hover {
    background-color: #ffffff;
}
#hero_title > img {
    float: left;
}
#hero_byline > h3 {
    float: right;
}
#artists {
    height: 125px;
}

#more_info {
    width: 1260px;
    margin: 0 auto;
}

.subheadliners {
  width: 280px;
  padding: 10px;
  margin: 0 10px;
  float: left;
}

#experience {
    width: 960px;
    margin: 0 auto;
}

#liveperformance {
    padding: 10px;
    margin: 0 10px;
    float: left;
}

#experiencepic {
    width: 66%
}

#experiencecopy {
    width: 33%
}
#subheadlinerspic > img {
    width: 270px;
}
.clearfix:after {
    display: block;
    content: "0";
    clear: both;
}
.liveperformance {
    float: left;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Artists > aside > img {
    width: 100%;
}
#five > img {
    width: 100%;
}
video#bgvideo {
position: absolute;
top: 30%;
left: 50%;
min-width: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(placeholder.jpg) no-repeat;
background-size: cover;
}
video#tickervideo {
position: absolute;
top: 55%;
left: 50%;
min-width: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(placeholder.jpg) no-repeat;
background-size: cover;
}
#ticker_video {
    height: 100px;
}